<div class="pos-f-t">

  <nav class="navbar navbar-toggleable-sm navbar-dark bg-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a  [routerLink]="['/tasks']">Tasks</a></li>

      </ul>
      <span class="navbar-text">
      Navbar text with an inline element
    </span>
    </div>
  </nav>
</div>
